<div class="background">
  <div class="card-container" *ngFor="let card of models">
    <div class="leftTitle">{{ card.leftTitle }}</div>

    <div class="remaining-details">
      <div class="mainTitle" (click)="goToProfile(card.id)">{{ card.mainTitle }}</div>
      <div
        class="type"
        [style]="
          card.typeSubtitle.value
            ? 'background-color: green'
            : 'background-color: red'
        "
        style="color: white">
        {{ card.typeSubtitle.key }}
      </div>
      <div>{{ card.description }}</div>
    </div>

    <div class="options" [class]="isAdminPage() ? 'multiple-options' : ''">
      <button *ngIf="isAdminPage()" (click)="settings(card.id)">⚙️</button>
    </div>
  </div>
</div>
