.divButton{
	display: flex;
	align-items: center;
	justify-content: center;
}

.button{
	margin-left: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

h1{
    padding:25px;
	text-align: center;
    font-size: 40px;
}

.page{
	min-height: 80vh;
	display: grid;
    justify-content: space-evenly;
}


