<div class="background">
    <div class="banner">
        <div class="header">
            <h1 class="title">Help us find a mentor for you</h1>
        </div>
        <div class="form-fields">
            <!-- mandatory -->
            <mat-form-field appearance="fill" id="subject">
                <mat-label>{{ "Subject" | titlecase }}</mat-label>
                <mat-select [(ngModel)]="model.subjects">
                    <mat-option *ngFor="let subjects of subjects" [value]="subjects">
                        {{ subjects }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" id="meeting">
                <mat-label>{{ "Meeting format" | titlecase }}</mat-label>
                <mat-select [(ngModel)]="model.meetingType" (ngModelChange)="onTypeChanged($event)">
                    <mat-option *ngFor="let meetingTypes of meetingTypes" [value]="meetingTypes">
                        {{ meetingTypes }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.display]="displayType" class="example-form" id="county">
                <mat-label>{{ "County" | titlecase }}</mat-label>
                <input matInput [placeholder]="'Ex. ' + 'Ilfov'" value="" type="text" [(ngModel)]="model.county" />
            </mat-form-field>
            <mat-form-field [style.display]="displayType" class="example-form" id="city">
                <mat-label>{{ "City" | titlecase }}</mat-label>
                <input matInput [placeholder]="'Ex. ' + 'Bucuresti'" value="" type="text" [(ngModel)]="model.city" />
            </mat-form-field>

            <!-- mandatory -->

            <div class="rating" id="rating" #radioButtons>
                <p id="rating-title">Mentor Rating</p>
                <div class="stars-container">
                    <input type="radio" id="star5" name="rate" value="5" [(ngModel)]="stars"
                        (ngModelChange)="onStarsChanged($event)" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" [(ngModel)]="stars"
                        (ngModelChange)="onStarsChanged($event)" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" [(ngModel)]="stars"
                        (ngModelChange)="onStarsChanged($event)" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" [(ngModel)]="stars"
                        (ngModelChange)="onStarsChanged($event)" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" [(ngModel)]="stars"
                        (ngModelChange)="onStarsChanged($event)" />
                    <label for="star1" title="text">1 star</label>
                </div>
            </div>

            <button type="submit" color="primary" class="btn btn-success" (click)="match()">Submit</button>
        </div>
    </div>
</div>