<div class="home-page">
  <div class="first-element"></div>

  <div class="second-element">
    <h2>How does tutoring at Teach Us work?</h2>
    <div class="pre" *ngIf="rol === null">
      <a routerLink="/register">Sign Up </a> <span>&#8594;</span>
      <a routerLink="/match"> Tell us your expectation </a> <span>&#8594;</span>
      <a routerLink="/mentors">
        Find a suitable teacher or teach your favorite subject</a
      >
    </div>
    <div class="pre" *ngIf="rol === 'student'">
      <a routerLink="/settings">Edit profile </a> <span>&#8594;</span>
      <a routerLink="/match">Search teacher </a> <span>&#8594;</span>
      <a routerLink="/my-mentors">See your teachers </a> <span>&#8594;</span>
      <a routerLink="/videos-student"> Learn </a> <span>&#8594;</span>
    </div>

    <div class="pre" *ngIf="rol === 'mentor'">
      <a routerLink="/settings">Edit profile </a> <span>&#8594;</span>
      <a routerLink="/create-announcement">Publish announcement </a>
      <span>&#8594;</span> <a routerLink="/requests">Accept students </a>
      <span>&#8594;</span>
    </div>

    <div class="pre"><span id="last-arrow">&#8594;</span> Have Fun </div>
  </div>

  <div class="top-container">
    <div class="top-title">Top Teachers</div>
    <form (change)="onSubjectChange()">
      <select name="cars" id="cars" [(ngModel)]="selectedSubject" (ngModelChange)="onSubjectChange()">
        <option value="" disabled selected>Select a subject</option>
        <option *ngFor="let subject of subjects" [value]="subject">{{
          subject
        }}</option>
      </select>
    </form>
    <div class="top-mentors">
      <div
        class="mentor-card"
        *ngFor="let mentor of topMentors; let i = index"
        [attr.id]="'mentor_' + i">
        <div class="number"> #{{ i === 0 ? 2 : i === 1 ? 1 : 3 }} </div>
        <div class="name">
          {{ mentor.username }}
        </div>
        <div class="stars">
          <i
            [ngClass]="
              mentor.numberOfStars !== undefined && mentor.numberOfStars >= 1
                ? 'black'
                : 'grey'
            "
            >★</i
          >
          <i
            [ngClass]="
              mentor.numberOfStars !== undefined && mentor.numberOfStars >= 2
                ? 'black'
                : 'grey'
            "
            >★</i
          >
          <i
            [ngClass]="
              mentor.numberOfStars !== undefined && mentor.numberOfStars >= 3
                ? 'black'
                : 'grey'
            "
            >★</i
          >
          <i
            [ngClass]="
              mentor.numberOfStars !== undefined && mentor.numberOfStars >= 4
                ? 'black'
                : 'grey'
            "
            >★</i
          >
          <i
            [ngClass]="
              mentor.numberOfStars !== undefined && mentor.numberOfStars >= 5
                ? 'black'
                : 'grey'
            "
            >★</i
          >
        </div>
        <div class="bio">
          {{ mentor.bio }}
        </div>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <ng-container *ngFor="let card of cards">
      <app-home-card [title]="card.title" [image]="card.image">
        {{ card.description }}
      </app-home-card>
    </ng-container>
  </div>
</div>
