$section-background: rgb(232, 230, 230);
$section-shadow-color: rgb(166, 166, 166);
$section-shadow-blur: 2px;
$section-shadow: 1px 1px $section-shadow-blur $section-shadow-color,
  -1px -1px $section-shadow-blur $section-shadow-color;

:host {
  height: 220vh;
  * {
    font-size: 1.5rem;
  }
}

:host,
.profile-card,
.profile-card .details,
.header-section,
.menu-box,
.menu-box > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile-card,
.more-about-me {
  background-color: $section-background;
  margin: 30px;
}

.header-section {
  height: 25;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px;
}

.profile-card {
  height: 100%;
  width: 30%;
  background-color: $section-background;

  img {
    height: 30%;
    width: 100%;
    object-fit: contain;
  }
  .details {
    list-style: none;
    height: 50%;
    width: 100%;
    div {
      text-align: center;
    }
    .courses {
      display: flex;
      justify-content: center;
      text-align: unset;
      width: 100%;

      .courses-list {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        list-style: none;
      }
    }
    .value {
      font-weight: bold;
    }
  }
}

.rating {
  background-color: white;
  height: 20%;
  width: 180px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 34px;
  }
}

.yellow {
  color: rgb(246, 200, 123);
}

.gray {
  color: rgb(217, 217, 217);
}

.menu-box {
  height: 50%;
  width: 15%;
  background-color: $section-background;
  > a {
    font-size: 1rem;
    // background-color: aqua;
    width: 100%;
    text-align: center;
    height: 33.3%;
    // border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    transition: all 0.1s ease-in;
  }
  > a:hover {
    color: blue;
    font-size: 1.3rem;
  }
  .notifications {
    background-color: rgb(248, 68, 68);
    color: white;
  }
  .notifications:hover {
    color: white;
  }
}

.more-about-me {
  background-color: $section-background;
  height: 20%;
  width: 90%;
  padding: 4%;
  p {
    font-size: 70%;
  }
}

#map {
  height: 35%;
  width: 75%;
}

.requests-chart {
  margin: 30px auto;
}