<!-- <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet" /> -->

<div class="box">
  <div class="login-form">
    <div class="login-form-header">
      <h1>Login to your account</h1>
      <h3>
        Don't have an account yet?
        <a routerLink="/register" class="register-link">Register</a>
      </h3>
    </div>

    <div class="login-form-inputs-container">
      <div class="form-center">
        <form [formGroup]="model">
          <mat-form-field class="example-form">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [errorStateMatcher]="matcher"
              formControlName="email" 
              placeholder="Example: pat@example.com" />
            <mat-icon matPrefix >mail</mat-icon>
            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
            <mat-error
              *ngIf="model.get('email')?.hasError('email') && !model.get('email')?.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="model.get('email')?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-form">
            <mat-label>{{ "Password" | titlecase }}</mat-label>
            <input
              matInput
              value=""
              type="password"
              formControlName="password" 
              placeholder="Example: Password123!"/>
              <mat-icon matPrefix >lock</mat-icon>
            <!-- <mat-hint>Example: Password123!</mat-hint> -->
            <mat-error *ngIf="model.get('password')?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- [placeholder]="'Password123!'" -->
          
        </form>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [value]="isRememberMeChecked"
          [checked]="isRememberMeChecked"
          (click)="changeState()" 
          id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Remember Me
        </label>
      </div>
    </div>

    <button type="button" (click)="LoginUser()" class="btn btn-primary">
      Login
    </button>
  </div>
</div>
