
<div class="container-full-bg" style="background-image: url('../../../assets/images/home-page-picture.jpg'); box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);     height: 30%;">
    <div class="container special">
        <div class="jumbotron"><span class="fwbg-title"> About Teach Us </span>
            <div class="headline-container">
                <div class="row">
                    <div class="col-xs-12"><span class="fwbg-callout"> </span></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container" style="max-width: 1200px;">
    <div class="row">
        <div class="col-xs-12" style="text-align:center;">
            <h2>– About Us –</h2></div>
            <div style="clear: both;"></div>
        <hr>
            <p style="font-size: 16px;">Welcome to Teach Us, where education meets innovation! At Teach Us, we are on a mission to empower students on their academic journey by providing flexible and accessible learning opportunities. Whether you prefer the convenience of online tutoring or the personal touch of face-to-face sessions, Teach Us is your go-to platform for finding the perfect teacher to guide you on your path to success.</p>
            <div style="clear: both;"></div>
            <hr>
            <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="info-text">
                <h2>Our Vision</h2>
                <p>Teach Us was born out of a simple yet powerful vision: to make quality education accessible to every student, everywhere. We believe that every learner deserves the chance to thrive academically, and our platform is designed with this principle at its core. We envision a world where learning knows no bounds, and every student has the tools and support they need to excel.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
            <div class="col-xs-12">
                <figure class="snip1374"><a href="#"><img src="../../../assets/images/TEACHUS.jpg" alt="sample66" /></a></figure>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
                <div class="info-text right">
                    <h2>Connect Anytime, Anywhere
                    </h2>
                    <p> Gone are the days of struggling to find the right time and place for tutoring sessions. With Teach Us, you can connect with your teacher online, breaking down geographical barriers and making learning more accessible than ever. Whether you're at home, in a library, or on the go, our platform is designed to fit seamlessly into your life.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-6 col-md-pull-6">
                <div class="col-xs-12 col-sm-12">
                    <figure class="snip1374"><a href="#"><img src="../../../assets/images/Tutoring-Online.png" alt="sample57" /></a></figure>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
                <div class="info-text right">
                    <h2>Finding Your Perfect Teacher
                    </h2>
                    <p> We understand that every student is unique, and so are their learning needs. That's why Teach Us offers a user-friendly interface with a dedicated page of filters, allowing you to find the perfect teacher tailored to your requirements. Whether you need assistance in mathematics, science, language arts, or any other subject, our platform connects you with experienced and passionate educators who are committed to your success</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-6 col-md-pull-6">
                <div class="col-xs-12 col-sm-12">
                    <figure class="snip1374"><a href="#"><img src="../../../assets/images/R.jpg" alt="sample57" /></a></figure>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr>
        <div class="row">
            <p style="font-size: 16px;">Education should be a right, not a privilege. Teach Us is proud to be a free platform, accessible to students from all walks of life. We believe that financial constraints should never stand in the way of academic success. Our commitment to providing free access underscores our belief in the transformative power of education.

                Join Teach Us today and embark on a learning journey that's tailored to you. Let's unlock your full potential together!</p>
                <div style="clear: both;"></div>
                <hr>
                <h3 style="padding-bottom:10px;text-transform:uppercase; align-items: center;">What we provide:</h3>

            <div class="col-xs-12" style="text-align:center;padding-top:25px; display: flex;">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure class="snip0078 blue"><img src="../../../assets/images/image-35069-800.jpg" alt="sampl45" />
                        <figcaption>
                            <h2>Best Teachers <span> </span></h2>
                        </figcaption>
                        <a href="#"></a></figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure class="snip0078 red"><img src="../../../assets/images/Tutoring-Online.png" alt="sample50" />
                        <figcaption>
                          
                            <h2>
                                Online tutoring <span></span></h2>
                        </figcaption>
                        <a href="#"></a></figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <figure class="snip0078 yellow"><img src="../../../assets/images/R.jpg" alt="sample46" />
                        <figcaption>
                            <h2>Face to face tutoring <span> </span></h2>
                        </figcaption>
                        <a href="#"></a></figure>
                </div>
            </div>
        </div>
    </div>
</div>
