
.background {
    background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    padding: 10vh;
    height: 100%;
}

.banner {
    background-color: #e6e9fa;
    width: 80%;
    margin: auto;
    padding: 50px;
    box-shadow: 1px 1px 5px rgb(84, 82, 82), -1px -1px 5px rgb(84, 82, 82);
    border-radius: 4px;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

form {
    display: contents;
}


.header {
    display: grid;
    place-items: center;
}

.login-link {
    cursor: pointer;
    color: #7a80ed;
    text-decoration: none;
}

.form-fields {
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    padding: 30px;
    > * {
      margin: 10px;
      width: 45%;
    }
}

.buttons {
    display: grid;
    grid-template-rows: auto;
    width: 45%;
    margin: auto;
    gap: 30px;
}

.container {
    display: grid;
    align-content: center;
}