<div class="background">
    <div class="banner">
      <div class="header">
        <h1 class="title">{{ "Reset Password" | titlecase }}</h1>
        <div class="already-have-account">
          <p>
            Changed your mind?
          <a
              routerLink="/settings"
              class="login-link"
              >Go back</a
            >
          </p>
        </div>
      </div>

      <div class="container">
        <form [formGroup]="model">
          <div class="form-fields">
            <mat-form-field class="example-form">
              <mat-label>{{ "Password" | titlecase }}</mat-label>
              <input
                matInput  
                name="password"
                required
                pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$"
                value=""
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password" />
              <mat-icon matPrefix>lock</mat-icon>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="model.get('password')?.hasError('pattern')"
                >Password must be a combination of lower-case, upper-case, numbers and
                at least 9 characters long</mat-error>
              <mat-error *ngIf="model.get('password')?.hasError('required')"
                >Password is <strong>required</strong></mat-error>
            </mat-form-field>
  
            <mat-form-field class="example-form">
              <mat-label>{{ "Repeat Password" | titlecase }}</mat-label>
              <input
                matInput
                name="repeat password"
                required
                value=""
                [type]="hideRepeatPassword ? 'password' : 'text'"
                formControlName="repeatPassword" />
              <mat-icon matPrefix>lock_reset</mat-icon>
              <mat-icon matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
                {{hideRepeatPassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error *ngIf="model.get('repeatPassword')?.hasError('confirmedValidator')">
                The repeated password should be the same as the new password
              </mat-error>
              <mat-error *ngIf="model.get('repeatPassword')?.hasError('required')"
                >Repeat password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>  
        </form>

        <div class="buttons">
          <button
            mat-raised-button
            (click)="submit()"
            style="cursor: pointer"
            color="primary"
            [disabled]="!model.get('password')?.valid || !model.get('repeatPassword')?.valid"           
            >
            Reset password
          </button>
        </div>
      </div>
    </div>
  </div>
