<div class="container" *ngIf="person !== null">
	<div class="display"  *ngIf="pageToShowOn == 'mentors' && status == false" >
		<div class="display-item" *ngFor="let sub of person?.subject; let i = index">
			<div class="card seamus">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image" (click)="redirectToProfile()">
					</div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<br>
						<h2 (click)="redirectToProfile()">{{person.username}}</h2>
						<h4 *ngIf="pageToShowOn == 'mentors'">{{sub}}: {{person.price[i] | currency:'RON':'symbol'}}</h4>

                        <h3  *ngIf="pageToShowOn != 'mentors'">{{person.phoneNumber}}</h3>
					</div>
					<div class="card-rating divider">
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 1 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 2 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 3 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 4 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 5 ? 'black' : 'grey'">★</i>
					</div>
                    <div class="info-address divider">
						<p>{{person.city}}</p>
						<p>{{person.county}}</p>
						<p>{{person.addressInfo}}</p>
					</div>
					<div class="info-bio">
                        <p>{{person.bio}}</p>
                    </div>
					<button  mat-raised-button class="button" (click)="chooseAMentor(person, sub)">
						Choose
					</button>
				</div>
			</div>
		</div>
    </div>
	<div class="display"  *ngIf="pageToShowOn != 'mentors' || (pageToShowOn == 'mentors' && status == true)">
		<div class="display-item" >
			<div class="card seamus">
				<div class="card-top"></div>
				<div class="card-profile">
					<div class="profile-image" (click)="redirectToProfile()">
					</div>
				</div>
				<div class="card-info">
					<div class="info-title">
						<br>
						<h2 (click)="redirectToProfile()">{{person.username}}</h2>

						<h4 *ngIf="pageToShowOn != 'mentors'">{{person.subject}}</h4> 
						<h4 *ngIf="pageToShowOn == 'mentors' && status == true">{{cookieSubject}}</h4> 
                        <h3>{{person.phoneNumber}}</h3>
					</div>
					<div class="card-rating divider">
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 1 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 2 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 3 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 4 ? 'black' : 'grey'">★</i>
						<i [ngClass]="person.numberOfStars !== undefined && person.numberOfStars >= 5 ? 'black' : 'grey'">★</i>
					</div>
                    <div class="info-address divider">
						<p>{{person.city}}</p>
						<p>{{person.county}}</p>
						<p>{{person.addressInfo}}</p>
					</div>
					<div class="info-bio">
                        <p>{{person.bio}}</p>
                    </div>

					<button  *ngIf="pageToShowOn == 'my-students'" mat-raised-button class="button" (click)="addReview(person)">
						Add Review
					</button>
					<button  *ngIf="pageToShowOn == 'my-students'" mat-raised-button class="button" (click)="addAssessment(person)">
						Create Assessment
					</button>
					<a *ngIf="pageToShowOn == 'my-mentors'" [ngClass]="person.link" href={{person.link}}>
						<button mat-raised-button class="button">Meet Link</button>
					</a>
					 <button  *ngIf="pageToShowOn == 'my-mentors'" mat-raised-button class="button" (click)="viewHomework(person)">
						Show Homework
					</button> 
					<button *ngIf="pageToShowOn == 'mentors'" mat-raised-button class="button" (click)="chooseMentor(person)">
						Choose
					</button>
				</div>
			</div>
		</div>
    </div>
</div>
