.background {
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  height: 100vh;
  overflow-y: hidden;
}

.banner {
  background-color: #e6e9fa;
  height: 98vh;
  width: 92vw;
  margin: auto;
  margin-top: 2vh;
  box-shadow: 1px 1px 5px rgb(84, 82, 82), -1px -1px 5px rgb(84, 82, 82);
  border-radius: 4px;
}

.header {
  display: grid;
  place-items: center;
  padding: 2% 0px;
}

.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  > * {
    margin: 2% 6%;
    width: 75%;
  }
}
.rate {

  height: 150px;
  padding: 0 10px;
  align-items: center;
  margin: auto;
  width: 50%;
}
#rating {
  text-align: center;
}

.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:35px;
  color:#ccc;
}



.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

p{
font-size: 25px;
display: grid;
place-items: center;
padding: 2% 0px;
}