<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />

<div *ngIf="isLoggedin === 'true'">
  <a (click)="closeSidenavAndNavigate('/user-profile')">
    <h4 class="name">Hi, {{ name }}</h4>
    <p class="designation">Role: {{ rol1 }}</p>
  </a>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <a (click)="closeSidenavAndNavigate('/home')" style="font-size:15px">Home</a>
  </button>

  <button mat-button class="menu-button" *ngIf="rol === roles.Student">
    <mat-icon>school</mat-icon>
    <a (click)="closeSidenavAndNavigate('/match')" style="font-size:15px">Matching</a>
  </button>

  <button mat-button class="menu-button" *ngIf="rol === roles.Student">
    <mat-icon>groups</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/mentors')" style="font-size:15px">Teachers</a>
  </button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button" *ngIf="rol === roles.Admin">
    <mat-icon>manage_accounts</mat-icon>
    <a (click)="closeSidenavAndNavigate('/admin-manage-users')" style="font-size:15px">Accounts</a>
  </button>

  <button mat-button class="menu-button"  *ngIf="rol === roles.Student">
    <mat-icon>handshake</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/my-mentors')" style="font-size:15px">My teachers</a>
  </button>

  <button mat-button class="menu-button" *ngIf="rol === roles.Mentor">
    <mat-icon>handshake</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/my-students')" style="font-size:15px">My students</a>
  </button>

  <button mat-button class="menu-button" *ngIf="rol === roles.Mentor">
    <mat-icon>rule</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/requests')" style="font-size:15px">Requests</a>
  </button>

  <button
    mat-button class="menu-button" *ngIf="rol === roles.Mentor">
    <mat-icon>post_add</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/create-announcement')" style="font-size:15px">Add announcement</a>
  </button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>logout</mat-icon>
    <a style="color: white" (click)="logOut()" style="font-size:15px">Logout</a>
  </button>
</div>

<div *ngIf="isLoggedin !== 'true'">
  <h4 class="name">Welcome!</h4>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <a (click)="closeSidenavAndNavigate('/home')" style="font-size:15px">Home</a>
  </button>

  <button mat-button class="menu-button">
    <mat-icon>school</mat-icon>
    <a (click)="closeSidenavAndNavigate('/match')" style="font-size:15px">Matching</a>
  </button>

  <button mat-button class="menu-button">
    <mat-icon>groups</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/mentors')" style="font-size:15px">Teachers</a>
  </button>

  <button mat-button class="menu-button" onclick="">
    <mat-icon>login</mat-icon>
    <a (click)="closeSidenavAndNavigate('/login')" style="font-size:15px">Login</a>
  </button>

  <button mat-button class="menu-button">
    <mat-icon>person_add</mat-icon>
    <a (click)="closeSidenavAndNavigate('/register')" style="font-size:15px">Register</a>
  </button>
</div>

<button mat-button class="menu-button">
  <mat-icon>library_books</mat-icon>
  <a (click)="closeSidenavAndNavigate('/about-us')" style="font-size:15px">About Us</a>
</button>