<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<a routerLink="/user-profile">
  <img class="avatar mat-elevation-z8" src="../../../assets/images/profile.jpg"/>
</a>

<div *ngIf="isLoggedin === 'true'">
  <h4 class="name">Hi, {{ name }}</h4>
  <p class="designation">Role: {{ rol }}</p>

  <mat-divider></mat-divider>
  <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <a  routerLink="/home">Home</a>
  </button>
  <button mat-button class="menu-button" *ngIf="rol === roles.Student">
      <mat-icon>Mentors</mat-icon>
      <a style="color: white;" routerLink="/mentors">Mentors</a>
  </button>


  <mat-divider></mat-divider>
  <button mat-button class="menu-button" *ngIf="rol === roles.Admin">
    <mat-icon>M</mat-icon>
    <a routerLink="/admin-manage-users">Manage Users</a>
  </button>

  <button mat-button class="menu-button" onclick="" *ngIf="rol === roles.Student">
      <mat-icon>My mentors</mat-icon>
      <a style="color: white;" (click)="myMentors()">My mentors</a>
  </button>

  <button mat-button class="menu-button" onclick="" *ngIf="rol === roles.Mentor">
    <mat-icon>My students</mat-icon>
    <a style="color: white" (click)="myStudents()">My students</a>
  </button>
  
  <button mat-button class="menu-button" onclick="" *ngIf="rol === roles.Mentor">
    <mat-icon>Requests</mat-icon>
    <a style="color: white" routerLink="/requests">Requests</a>
  </button>

  <button mat-button class="menu-button" onclick="" *ngIf="rol === roles.Mentor">
    <mat-icon>Create Announcement</mat-icon>
    <a style="color: white" routerLink="/create-announcement">Announcement</a>
  </button>
</div>

<div *ngIf="isLoggedin === '' ">
  <h4 class="name">Hi anonymous user!</h4>
  <p class="designation">Role: ?</p>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <a routerLink="/home">Home</a>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>Mentors</mat-icon>
    <a style="color: white" routerLink="/mentors">Mentors</a>
  </button>
  <button mat-button class="menu-button" onclick="">
    <mat-icon>person</mat-icon>
    <a routerLink="/login">LogIn</a>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <a routerLink="/register">Register</a>
  </button>
</div>

<mat-divider></mat-divider>

<button mat-button class="menu-button" onclick="">
  <mat-icon>person</mat-icon>
  <a style="color: white;" (click)="logOut()">LogOut</a>
</button>

<button mat-button class="menu-button">
  <mat-icon>info</mat-icon>
  <a style="color: white">About us</a>
</button>

<button mat-button class="menu-button">
  <mat-icon>help</mat-icon>
  <a style="color: white">Help</a>
</button>
