<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet" />

<div *ngIf="isLoggedin === 'true'">
  <a (click)="closeSidenavAndNavigate('/user-profile')">
    <h4 class="name">Hi, {{ name }}</h4>
    <p class="designation">Role: {{ rol }}</p>
  </a>

  <mat-divider></mat-divider>
  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <a (click)="closeSidenavAndNavigate('/home')">Home</a>
  </button>
  <button mat-button class="menu-button" *ngIf="rol === roles.Student">
    <mat-icon>school</mat-icon>
    <a (click)="closeSidenavAndNavigate('/match')">Matching</a>
  </button>
  <button mat-button class="menu-button" *ngIf="rol === roles.Student">
    <mat-icon>Teachers</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/mentors')"
      >Teachers</a
    >
  </button>

  <mat-divider></mat-divider>
  <button mat-button class="menu-button" *ngIf="rol === roles.Admin">
    <mat-icon>M</mat-icon>
    <a (click)="closeSidenavAndNavigate('/admin-manage-users')">Manage Users</a>
  </button>

  <button
    mat-button
    class="menu-button"
    onclick=""
    *ngIf="rol === roles.Student">
    <mat-icon>My Teachers</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/my-mentors')"
      >My teachers</a
    >
  </button>

  <button
    mat-button
    class="menu-button"
    onclick=""
    *ngIf="rol === roles.Mentor">
    <mat-icon>My students</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/my-students')"
      >My students</a
    >
  </button>

  <button
    mat-button
    class="menu-button"
    onclick=""
    *ngIf="rol === roles.Mentor">
    <mat-icon>Requests</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/requests')"
      >Requests</a
    >
  </button>

  <button
    mat-button
    class="menu-button"
    onclick=""
    *ngIf="rol === roles.Mentor">
    <mat-icon>Create Announcement</mat-icon>
    <a
      style="color: white"
      (click)="closeSidenavAndNavigate('/create-announcement')"
      >Announcement</a
    >
  </button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button" onclick="">
    <mat-icon>person</mat-icon>
    <a style="color: white" (click)="logOut()">LogOut</a>
  </button>
</div>

<div *ngIf="isLoggedin !== 'true'">
  <h4 class="name">Welcome !</h4>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>home</mat-icon>
    <a (click)="closeSidenavAndNavigate('/home')">Home</a>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>school</mat-icon>
    <a (click)="closeSidenavAndNavigate('/match')">Matching</a>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>Teachers</mat-icon>
    <a style="color: white" (click)="closeSidenavAndNavigate('/mentors')"
      >Teachers</a
    >
  </button>
 
  <button mat-button class="menu-button" onclick="">
    <mat-icon>person</mat-icon>
    <a (click)="closeSidenavAndNavigate('/login')">Log In</a>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>info</mat-icon>
    <a (click)="closeSidenavAndNavigate('/register')">Register</a>
  </button>
  
</div>
<button mat-button class="menu-button">
  <mat-icon>library_books</mat-icon>
  <a (click)="closeSidenavAndNavigate('/about-us')">About Us</a>
</button>